<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/Users/gyuhyeongkim/.local/bin:/Users/gyuhyeongkim/.nvm/versions/node/v20.20.2/bin:/opt/miniconda3/bin:/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>Label</key>
	<string>com.giana.newsletter-archive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/gyuhyeongkim/orca/projects/obsidian_test/.automation/archive-newsletters.sh</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/Users/gyuhyeongkim/orca/projects/obsidian_test/.automation/logs/newsletter-launchd.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/gyuhyeongkim/orca/projects/obsidian_test/.automation/logs/newsletter-launchd.out.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>20</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
